footer {
  font-size: 11px;
  line-height: 18px;
  padding-top: 20px;

  color: #214552;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
footer a {
  text-decoration: none;
  color: #214552;
  
}
footer a:hover {
  color: #395E6C;
  text-decoration: none;
  font-weight: 700;
}

