.forecastInfo {
  padding-bottom: 30px;
}
.forecastInfo p {
  font-family: "lato", sans-serif;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 12px;
}

.forecastInfo canvas {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.weatherButton button {
  border-radius: 5px;
  border: 0.5px solid #72402b;
  background: #72402b;
  margin-right: 5px;
  padding: 5px 10px;
  color: #ffffff;
}

.weatherButton {
  padding: 60px 0px 30px 0px;
}

p.forecast {
  font-size: 16px;
  font-weight: bolder;
}

p .maxTemp {
  font-weight: 600;
  font-size: 16px;
}
p .minTemp {
  font-weight: 400;
  font-size: 14px;
}
