.weather {
  padding: 10px;
}
.weatherDescription p {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: black;
}
.weather img {
  width: 250px;
  margin: 0 auto;
  display: block;
  padding-bottom: 5px;
}
.weatherInfo {
  margin: 0 auto;
  display: inline-block;
  padding-top: 40px;
  padding-left: 15px;
}

.weatherInfo .col {
  padding: 0px;
  margin: 0 auto;
}

.weatherInfo h2 {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #9a5229;
  margin-bottom: 8px;
  padding-top: 5px;
  padding-left: 10px;
}
.weatherDescription p {
  font-family: "lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: black;
}

.weatherInfo p {
  font-family: "lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: black;
}
