span.currentTemperature {
  padding-right: 0px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 55px;
  color: #9a5229;
}
.WeatherTemperature span.units {
  position: absolute;
  bottom: 64px;
  left: 103px;
  padding-left: 0px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  color: black;
}

.units a {
  text-decoration: none;
  color: black;
}

.units a:hoover {
  text-decoration: none;
  color: black;
}
.units a.active {
  font-weight: 800;
  text-decoration: none;
  color: #9a5229;
}
.units a.active:hoover {
  font-weight: 800;
  text-decoration: none;
  color: #9a5229;
}
